<style>
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.docmain {
    background-color: #fff;
    width: 60%;
    margin: 20px auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center; 
}


h1 {
    text-align: left;
    color: rgb(58, 48, 130);
    margin-top: 20px; 
}


table {
    width: 60%;
    margin: 0 auto; 
    border-collapse: collapse;
}

td {
    padding: 10px;
    border: 1px solid #ccc;
}


input[type="text"],
input[type="date"],
select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}


input[type="submit"] {
    padding: 10px;
    background-color: rgb(58, 48, 130);
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #444;
}


.error {
    color: red;
}



</style>