<style>
body{
  font-family: Arial, sans-serif;
  background-color: #f7f8f8;
}
h1{
    color:rgba(114, 105, 192, 0.76);
    margin-left: 20px;
}
form {
  background-color: #4075a0;
  width: 40%;
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  input[type=reset] {
    width: 100%;
    background-color: #e20606;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  input[type=submit]:hover {
    background-color: #45a049;
  }
  input[type=reset]:hover {
    background-color: #d31608;
  }
  
  div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
  ::-ms-input-placeholder { /* Edge 12-18 */
    color: rgb(148, 11, 86);
  }
  
  ::placeholder {
    color: rgb(148, 11, 86);
  }
</style>